<div class="row" id="ticket-{{ form.vars.name }}">
    <div class="row">
        <div class="col-md-6">
            {{ form.row(form.lastName) }}
        </div>
        <div class="col-md-6">
            {{ form.row(form.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.birth) }}
        </div>
        <div class="col-md-6" data-provide="datepicker">
            {{ form_widget(form.birth) }}
        </div>
    </div>
    <div class="row">
        {{ form_row(form.country) }}
    </div>
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.reduced, {'attr' : {'class' : 'custom-control-input'} }) }}
        {{ form_label(form.reduced, 'demi-journée' ,{'label_attr' : {'class' : 'custom-control-label'} }) }}
        {{ form_errors(form.reduced) }}
    </div>
    <hr class="mb-4">
</div>