<div class="col-md-12" id="ticket-{{ form.vars.name }}">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.birth) }}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
        {{ form_label(form.country, 'Pays') }}
        {{ form_widget(form.country, {'attr' : {'class' : 'form-control custom-select d-block w-100'}}) }}
        </div>
    </div>
    <br>
    <div class="custom-checkbox">
        {{ form_row(form.reduced) }}
        <div id="reducedInfo_{{ form.vars.name }}" style="color: green"></div>
    </div>
    <button type="button" class="offset-md-10 btn-sm btn-outline-danger btn-remove" data-rel="#ticket-{{ form.vars.name }}">Supprimer</button>
    <hr class="mb-4">
</div>